@import "https://unpkg.com/normalize.css" layer(normalize);

@font-face {
  font-family: Jost;
  src: url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
}

@layer base {
  *,
  *:after,
  *:before {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body {
    min-height: 100vh;
    background: linear-gradient(180deg, #2a2a2c, #ffeedc);
    font-family: "Jost", sans-serif;
    font-weight: 80;
    overflow-x: hidden;
  }

  .social-icon {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    color: hsl(0 0% 100%);
    aspect-ratio: 1;
    z-index: 1;
    mix-blend-mode: difference;
  }

  header {
    min-height: 100vh;
  }

  header > img {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }

  header > div {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    gap: 2rem;
    z-index: 2;
  }

  header > div > a {
    text-decoration: none;
    color: hsl(0 0% 100%);
    font-size: calc(0.4vw + 1rem);
  }

  header > div > a:after {
    content: "";
    display: inline-block;
    width: calc(0.4vw + 10px);
    height: calc(0.4vw + 10px);
    border-right: 2px solid hsl(0 0% 100%);
    border-bottom: 2px solid hsl(0 0% 100%);
    transform: rotate(45deg);
    margin: 0 0 4px calc(0.4vw + 8px);
  }

  header > section {
    position: relative;
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1rem 0;
    font-weight: 120;
    color: hsl(0, 0%, 100%);
    line-height: 0.9;
    z-index: 2;
  }

  h1 > span {
    width: 50vw;
  }

  h1 > span:last-of-type {
    font-size: calc(1vw + 1.5rem);
  }

  header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: hsl(0, 0%, 5%);
    z-index: 1;
    opacity: 0;
  }

  main {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  main:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-right: 20vw solid transparent;
    border-bottom: 20vw solid #caaf7a;
  }

  main > section {
    width: 100vw;
  }

  .content-section {
    position: relative;
    display: flex;
    min-height: 340px;
    color: #ffffff;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.6)
    );
  }

  .content-2 {
    justify-content: center;
  }
  .content-3 {
    justify-content: flex-end;
  }

  .content-1:before,
  .content-2:before,
  .content-3:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    filter: blur(3px);
  }

  .content-1:before {
    background-image: url("/assets/valvet-1.jpg");
  }

  .content-2:before {
    background-image: url("/assets/valvet-2.jpg");
  }

  .content-3:before {
    background-image: url("/assets/valvet-3.jpg");
  }

  .content-container {
    position: relative;
    width: 30vw;
    padding: 1rem;
  }

  h2 {
    font-size: calc(1vw + 1.5rem);
    font-weight: 120;
    margin: 0 0 1rem 0;
  }

  p {
    font-size: calc(0.4vw + 1rem);
    font-weight: 80;
    margin: 0;
  }

  .contact-container {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .contact-container > img {
    width: 25%;
    object-fit: cover;
  }

  .contact,
  .address {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: calc(0.4vw + 1rem);
    color: #2a2a2c;
    min-width: 25vw;
    padding: 1rem;
  }

  .contact > span:first-of-type {
    font-size: calc(1vw + 1.5rem);
    font-weight: 120;
  }

  .contact-left {
    text-align: right;
  }

  .contact > span > a {
    color: #2a2a2c;
    text-decoration: none;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(
      to right,
      #caaf7a,
      #caaf7a 50%,
      #2a2a2c 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
  }

  .contact > span > a:hover {
    background-position: 0%;
  }

  .address {
    text-align: center;
    font-size: calc(0.3vw + 1rem);
  }

  .address > span {
    z-index: 1;
  }
}

@layer animations {
  @supports (animation-timeline: scroll()) {
    header {
      transform-origin: 50% 0%;
      animation: scale-down both ease-in;
      animation-timeline: view();
      animation-range: exit;
      view-timeline: --header;
    }

    @keyframes scale-down {
      to {
        scale: 0.8 0.8;
      }
    }

    header:before {
      animation: fade both linear;
      animation-timeline: scroll();
      animation-range: entry;
    }

    @keyframes fade {
      to {
        opacity: 1;
      }
    }

    .content-1 {
      scale: 0.8 0.8;
      animation: scale-up both ease-in;
      animation-timeline: view();
      animation-range: entry;
      view-timeline: --content-1;
    }

    @keyframes scale-up {
      to {
        scale: 1 1;
      }
    }

    .content-2,
    .content-3 {
      transform: translateY(100%);
      animation: slide-in both linear;
      animation-timeline: view();
      animation-range: entry;
    }

    @keyframes slide-in {
      to {
        transform: translateY(0%);
      }
    }
  }
}

@layer media-queries {
  @media screen {
    @media (width <= 1600px) {
      .content-container {
        width: 60vw;
      }
    }
    @media (width <= 1000px) {
      header > section {
        justify-content: flex-start;
      }

      h1 {
        justify-content: flex-end;
        text-align: left;
      }

      h1 > span {
        display: flex;
        justify-content: flex-start;
        width: 40vw;
      }

      main > section {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      main:before {
        border-right: 40vw solid transparent;
        border-bottom: 40vw solid #caaf7a;
      }

      .content-1:before,
      .content-2:before,
      .content-3:before {
        background-size: cover;
        background-position: left;
      }

      .content-container {
        width: 100%;
      }

      .contact-container {
        flex-direction: column;
        margin: 2rem 0;
      }

      .contact-container > img {
        display: flex;
        width: 50%;
        order: 1;
      }

      .contact {
        text-align: center;
      }

      .social-icon {
        width: 3rem;
      }
    }
  }
}
